#!/bin/bash
# Wrapper script to control namenode daemon using ansible's service action

### BEGIN INIT INFO
# Provides:          hadoop-mapred-jobhistory
# Required-Start:    $local_fs $remote_fs $network $syslog
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Control mapred jobhistory process
# Description:       Control mapred jobhistory process
### END INIT INFO

# echo "Called: hadoop-mapred-jobhistory $*"
usage="Usage: hadoop-mapred-jobhistory (start|stop|restart|status)"
# if no args specified, show usage
if [ $# -lt 1 ]; then
    echo $usage
    exit 1
fi
action="$1"

# ensure pid dir exists w/ correct permissions
[ -d {{ hadoop.mapred_pid_dir }} ] || install -o {{ hadoop.mapred_user }} -g {{ hadoop.hadoop_group }} -m 0755 -d {{ hadoop.mapred_pid_dir }}
pid={{ hadoop.mapred_pid_dir }}/mapred-{{ cluster_name }}-historyserver.pid

if [ -f "{{ hadoop.hadoop_conf_dir }}/mapred-env.sh" ]; then
    echo "sourcing {{ hadoop.hadoop_conf_dir }}/mapred-env.sh"
    . "{{ hadoop.hadoop_conf_dir }}/mapred-env.sh"
    echo "$HADOOP_MAPRED_LOG_DIR"
fi

start_svc()
{
    # set open file and process limits high enough
    ulimit -n 32768
    ulimit -u 32768
    su {{ hadoop.mapred_user }} -c "/usr/lib/hadoop-mapreduce/sbin/mr-jobhistory-daemon.sh --config {{ hadoop.hadoop_conf_dir }} start historyserver"
}

stop_svc()
{
    su {{ hadoop.mapred_user }} -c "/usr/lib/hadoop-mapreduce/sbin/mr-jobhistory-daemon.sh --config {{ hadoop.hadoop_conf_dir }} stop historyserver"
}

get_status()
{
    if [ -f $pid ]; then
        if kill -0 `cat $pid` > /dev/null 2>&1; then
            echo `cat $pid`
            return
        fi
    fi
    echo 0
}

restart_svc()
{
    status=$(get_status)
    if [ "$status" -gt 0 ]; then
        stop_svc
    fi
    start_svc
}

case "$action" in

    start)
        # echo "action $action = start"
        start_svc
        ;;

    stop)
        # echo "action $action = stop"
        stop_svc
        ;;

    restart)
        # echo "action $action = restart"
        restart_svc
        ;;

    status)
        # echo "action $action = status"
        rpid=$(get_status)
        if [ "$rpid" -gt 0 ]; then
            echo "hadoop-mapred-historyserver start/running, process $rpid"
        else
            echo "hadoop-mapred-historyserver stop/waiting"
            exit 1
        fi
        ;;

    *)
        # echo "action $action = ???"
        echo $usage
        exit 1
        ;;

esac
