Welcome to {{ ansible_lsb["description"] }}

GoGrid Node :: {{ hostvars[inventory_hostname]['host_name'] }}

Public IP:  {{ ansible_eth0["ipv4"]["address"] }}
Private IP: {{ ansible_eth1["ipv4"]["address"] }}